<div class="container " >
  <div class="card rounded-2 mx-auto my-3 banner " data-aos="zoom-out" style="width: 25rem; max-width: 100%; overflow: visible;">
    <div class="image-container">
      <img [src]="cards.scr" class="card-img-top img-fluid" alt="..." style="height: 200px; object-fit: cover;">
    </div>
    <div class="card-body" style="min-height: 150px;">
      <h2>{{cards.head}}</h2>
      <p class="card-text">{{cards.describe}}</p>
      <h6 class="text-danger fw-bold">see more <img src="/arrow.png" alt="arrow"></h6>
    </div>
  </div>
</div>

