<div class="container-fluid addImg">
    <div class="row">
        <div class="col-lg-4">

        </div>
        <div class="col-lg-8 d-flex justify-content-center align-content-center">
            <div class="container mt-3 mb-3 rounded-4">
                <div class="text">Hospital Registration</div>
                <form action="#" method="POST">
                    <div class="form-row">
                        <div class="input-data">
                            <input type="text" id="name" required>
                            <div class="underline"></div>
                            <label for="name">Full Name</label>
                        </div>
                        <div class="input-data">
                            <input type="text" id="address" required>
                            <div class="underline"></div>
                            <label for="address">Address</label>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="input-data">
                            <input type="text" id="city" required>
                            <div class="underline"></div>
                            <label for="city">City</label>
                        </div>
                        <div class="input-data">
                            <input type="text" id="province" required>
                            <div class="underline"></div>
                            <label for="province">Province</label>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="input-data">
                            <input type="text" id="zipCode" required>
                            <div class="underline"></div>
                            <label for="zipCode">Zip Code</label>
                        </div>
                        <div class="input-data">
                            <input type="tel" id="contactNumber" required>
                            <div class="underline"></div>
                            <label for="contactNumber">Contact Number</label>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="input-data">
                            <input type="email" id="email" required>
                            <div class="underline"></div>
                            <label for="email">Email Address</label>
                        </div>
                        <div class="input-data">
                            <input type="password" id="password" required>
                            <div class="underline"></div>
                            <label for="password">Password</label>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="input-data">
                            <select id="type" required>
                                <option value="" disabled selected>Choose Type</option>
                                <option value="pvt">pvt</option>
                                <option value="gov">Gov</option>
                                <!-- Add more options as needed -->
                            </select>
                            <div class="underline"></div>
                            <label for="type">Type</label>
                        </div>
                    </div>
                    <div class="form-row submit-btn">
                        <div class="input-data">
                            <div class="inner"></div>
                            <input type="submit" value="Submit">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
