<div class="container-fluid " style="padding-left: 0px;padding-right: 0px;">
    <div class="row">
        <div class="full-background">
            <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active position-relative">
                        <img src="/background.jpg" class="d-block w-100" alt="...">
                        <div class="carousel-caption">
                            <h1 class="fw-bolder animated-text">NOW IT'S TIME</h1>
                            <button class="btn btn-outline-light me-4 animated-text-fadeDown mt-1 fw-bolder">Make An Appoinment</button>
                            <button class="btn buttonCall animated-text-fadeDown mt-1 fw-bolder" >Call(000)-8695</button>
                        </div>
                    </div>
                    <div class="carousel-item position-relative">
                        <img src="/background2.png" class="d-block w-100" alt="...">
                        <div class="carousel-caption">
                            <h1 class="fw-bolder animated-text">Donate blood, save lives</h1>
                            <button class="btn btn-outline-light me-4 animated-text-fadeDown mt-1 fw-bolder">Make An Appoinment</button>
                            <button class="btn buttonCall animated-text-fadeDown mt-1 fw-bolder" >Call(000)-8695</button>
                        </div>
                    </div>
                    <div class="carousel-item position-relative">
                        <img src="/backgroud3.jpg" class="d-block w-100" alt="...">
                        <div class="carousel-caption">
                            <h1 class="fw-bolder animated-text">One pint can make a world of difference</h1>
                            <button class="btn btn-outline-light me-4 animated-text-fadeDown mt-1 fw-bolder">Make An Appoinment</button>
                            <button class="btn buttonCall animated-text-fadeDown mt-1 fw-bolder">Call(000)-8695</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


