<div class="container-fluid">
    <div class="row">
        <div class="full-background">
            <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active position-relative">
                        <img src="/background.jpg" class="d-block w-100" alt="...">
                        <div class="carousel-caption">
                            <h1 class="fw-bolder ">NOW IT'S TIME</h1>
                            <button class="btn btn-outline-light me-4">Make An Appoinment</button>
                            <button class="btn btn-danger">Call(000)-8695</button>
                        </div>
                    </div>
                    <div class="carousel-item position-relative">
                        <img src="/background2.png" class="d-block w-100" alt="...">
                        <div class="carousel-caption">
                            <h1 class="fw-bolder ">Donate blood, save lives</h1>
                            <button class="btn btn-outline-light me-4">Make An Appoinment</button>
                            <button class="btn btn-danger " >Call(000)-8695</button>
                        </div>
                    </div>
                    <div class="carousel-item position-relative">
                        <img src="/backgroud3.jpg" class="d-block w-100" alt="...">
                        <div class="carousel-caption">
                            <h1 class="fw-bolder ">One pint can make a world of difference</h1>
                            <button class="btn btn-outline-light me-4">Make An Appoinment</button>
                            <button class="btn btn-danger">Call(000)-8695</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
