<div id="wrapper" class="container">
  <div class="d-flex flex-column flex-md-row align-items-center justify-content-between mb-4">
    <h1>Donor History</h1>
  </div>

  <div class="table-responsive">
    <table id="keywords">
      <thead>
        <tr>
          <th><span>HistoryID</span></th>
          <th><span>Name</span></th>
          <th><span>Blood Type</span></th>
          <th><span>Donation Date</span></th>
          <th><span>Donation Location</span></th>
          <th><span>Remarks</span></th>
          <th><span>Donation Date</span></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <!-- Data rows go here -->
        </tr>
      </tbody>
    </table>
  </div>
</div>
