<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 position-relative background-image">
            <div class="overlay-text">
                <h2 class="text-center fw-bolder fs-1">About Us</h2>
                <hr class="red-line">
                <p class="text-center">We are dedicated to providing the best services to our customers. Our team is committed to excellence and innovation in everything we do. Learn more about our mission and vision.</p>
                <p class="text-center">Our company was founded in [Year] with the goal of [Mission Statement]. We pride ourselves on our customer service and quality products.</p>
            </div>
        </div>
    </div>
</div>

